$primaryColor: #191919;
$secondaryColor: #CCCCCC;
$adjacentColor: #A7A7A7;
$whiteColor: #FFFFFF;
$cardColor: #363636;
$headingColor: #D9D9D9;
$primaryFont: "Poppins", sans-serif;
$secondaryFont: "DM Sans", sans-serif;

$mobileMax: 800px;
$tabletMin: 801px;
$tabletMax: 1200px;